* {
box-sizing: border-box;
}

html,
body {
    font-family: 'DM Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 1230px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 730px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 570px;
    }
}

/* Header */
.site-header {
    padding-top: 25px;
    padding-bottom: 25px;
}

.site-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
    gap: 45px;
}

.site-nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    color: #0F2137;
    text-decoration: none;
}

.site-nav-link:last-child {
    font-weight: 700;
    color: #28DCB2;
}

@media (max-width: 767px) {
    .site-header {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .site-header-inner {
        flex-direction: column;
        gap: 30px;
    }

    .site-nav-wrap {
        width: 100%;
        overflow-x: auto;
    }

    .site-nav {
        gap: 20px;
        white-space: nowrap;
        justify-content: center;
    }
}
/* Header end */

/* Block Hero */
.block-hero {
    padding-top: 100px;
    padding-bottom: 200px;
}

.block-hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.block-hero-content {
    flex: 0 1 505px;
    max-width: 505px;
}

.block-hero-img {
    flex: 0 1 500px;
    max-width: 500px;
}

.block-hero-img img {
    width: 100%;
}

.block-hero-title {
    font-size: 60px;
    line-height: 80px;
    font-weight: 700;
    margin: 0 0 20px;
}

.block-hero-text {
    font-size: 18px;
    line-height: 42px;
    margin-bottom: 45px;
}

.block-hero-link {
    padding: 25px 30px;
    background-color: #28DDB2;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 18px;
    line-height: 10px;
}

@media (max-width: 991px) {
    .block-hero-content,
    .block-hero-img {
        flex: 0 1 50%;
        max-width: 50%;
    }

    .block-hero-title {
        font-size: 40px;
        line-height: 60px;
    }
}

@media (max-width: 767px) {
    .block-hero {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .block-hero-inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .block-hero-content,
    .block-hero-img {
        flex: 0 1 100%;
        max-width: 100%;
    }

    .block-hero-title {
        font-size: 36px;
        line-height: 60px;
        margin-bottom: 20px;
    }

    .block-hero-text {
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 25px;
    }

    .block-hero-link {
        padding: 20px 30px;
    }

    .block-hero-img {
        height: 180px;
        flex: 0 1 180px;
        width: 100%;
    }

    .block-hero-img-inner {
        height: 100%;
    }

    .block-hero-img img {
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 578px) {
    .block-hero-img-inner {
        margin-left: -15px;
        margin-right: -15px;
    }
}
/* Block Hero end */

/*Block features start*/
.block-features{
    padding-bottom:170px ;
}

.block-features-title{
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    padding-bottom: 10px;

}

.block-features-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 585px;
}

@media(max-width:767px){
    .block-features-title{
        font-size: 24px;
        margin-left: 15px;
        text-align: left;
    }
    .block-features-text{
        width: 360px;
        text-align: left;
        margin-left: 15px;
    }
}
/* Block Features end*/

/* Block Features main start*/
.block-features-main{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 60px;
    padding-top: 90px;
}

.block-features-main-img{
    height: 90px;
    width: 90px;
    background-color: #ffffff;
    border-radius: 90px;
    box-shadow: 0px 8px 24px 0px rgba(53, 95, 158, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-features-main-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    width: 175px;
    padding-top: 40px;
    margin: 0;
}

.block-features-main-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

@media(max-width:767px){
    
    .block-features-main{
        flex-direction: column;
        gap: 50px;
        margin-left: auto;
        padding-top: 35px;
        padding-bottom: 75px;
        padding-left: 15px;
    }

    .block-features-main-title{
        padding-top: 40px;
        padding-bottom: 25px;
    }

    .block-features-main-text{
        margin: 0;
    }

    .block-features-main-item{
        margin-right: auto;
    }

}
/* Block features main end*/
/*Block features end*/

/* Stats block start*/

.stats{
    background-color: #F9FAFC;
}

.stats-inner{
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    justify-content: space-between;
}

.stats-inner-boxs{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    flex: 0 1 645px;
}
.stats-inner-box{
    width: 300px;
    height: 320px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.stats-inner-box-first{
    color: #28D1DC;
    font-weight: 700;
    font-size: 72px;
    line-height: 55px;
    text-align: center;
    margin: 0;
}

.stats-inner-box-second{
    color: #FF753A;
    font-weight: 700;
    font-size: 72px;
    line-height: 55px;
    text-align: center;
    margin: 0;
}

.stats-inner-box-third{
    color: #FA578E;
    font-weight: 700;
    font-size: 72px;
    line-height: 55px;
    text-align: center;
    margin: 0;
}

.stats-inner-box-forth{
    color: #28DCB2;
    font-weight: 700;
    font-size: 72px;
    line-height: 55px;
    text-align: center;
    margin: 0;
}

.stats-inner-box-text{
    width: 162px;
    font-size: 17px;
    font-weight: 400px;
    line-height: 25px;
    text-align: center;
    padding-top: 20px;
    margin: 0;
}

.stats-inner-box-text-forth{
    width: 190px;
    font-size: 17px;
    font-weight: 400px;
    line-height: 25px;
    text-align: center;
    padding-top: 20px;
    margin: 0;
}

@media (max-width: 767px) {
    .stats-inner{
        padding-top: 60px;
        padding-bottom: 60px;
        flex-direction: column;
        align-items: center;
    }

    .stats-inner-boxs{
        justify-content: center;
        align-items: center;
    }

    .stats-inner-box{
        width: 360px;
        height: 320px;
    }
}

.stats-inner-content{
    display: flex;
    flex-direction: column;
    color: #02073E;
    padding-top: 147px;
    flex: 0 1 485px;
}

.stats-inner-content-title{
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    margin: 0;
}

.stats-inner-content-text{
    font-size: 17px;
    font-weight: 400;
    line-height: 42px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0;
}

.stats-inner-content-link{
    font-size: 16px;
    font-weight: 700;
    line-height: 35px;
    color: #4F96FF;
    text-decoration: none;
}

@media (max-width: 767px) {
    .stats-inner-content{
        padding-top: 60px;
        margin-left: 15px;
    }

    .stats-inner-content-title{
        font-size: 24px;
        line-height: 50px;
    }

    .stats-inner-content-text{
        font-size: 16px;
        line-height: 35px;
    }

}
/* Stats block start*/

/* Block intro start */

.block-intro{
    padding-top:135px ;
    padding-bottom: 155px;
    text-align: center;
}

.block-intro-inner{
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}

.block-intro-title,
.block-intro-text{
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
}

.block-intro-title{
    max-width: 620px;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
}

.block-intro-text{
    max-width: 620px;
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
    text-align: center;
}

.block-intro-link{
    color: #4F96FF;
    font-size: 18px;
    line-height: 42px;
    display: inline-block;
    text-decoration: none;

}

.block-intro-img{
    margin-top: 60px;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    box-shadow: 0px 15px 50px rgba(88, 123, 156, 0.10);
    position: relative;
}

.block-intro-img img{
    max-width: 100%;
    object-fit: cover;
}

.block-intro-img::after{
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 64.06%, rgba(3, 1, 13, 0.50) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (max-width: 767px) {
    .block-intro {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .block-intro-title{
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .block-intro-img{
        margin-top: 40px;
        height: 360px;
    }
}

/* Block intro end */

/* Block intro start */

.block-allfeatures{
    padding-top: 100px;
    padding-bottom: 120px;
    background-color: #F9FAFC;

}

.block-allfeatures-tittle{
    text-align: center;
    font-size: 30px;
    line-height: 50px;
}

.block-allfeatures-text{
    text-align: center;
    max-width: 585px;
    margin-left: auto;
    margin-right: auto;
}

.block-allfeatures-main{
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px 45px;

}

.block-allfeatures-item{
    flex:0 1 555px;
    display: flex;
    gap: 25px;
}

.block-allfeatures-main-img{
    flex: 0 0 90px;
    height: 90px;
    background-color: #ffffff;
    border-radius: 90px;
    box-shadow: 0px 8px 24px 0px rgba(53, 95, 158, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;

}

.block-allfeatures-main-title{
    font-weight: 700;
    font-size: 18px;
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 25px;
}

.block-allfeatures-main-text{
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .block-allfeatures{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .block-allfeatures-main{
        padding-top: 50px;
        gap: 50px;
    }

    .block-allfeatures-main-img{
        flex-basis: 70px;
        height: 70px;
    }
}


/* Block pricing start */

.block-pricing{
    padding-top: 160px;
    padding-bottom: 160px;
}

.block-pricing-inner{
    margin-left: auto;
    margin-right: auto;
}

.block-pricing-inner-title{
    text-align: center;
}

.block-pricing-inner-text{
    text-align: center;
    width: 585px;
    margin-left: auto;
    margin-right: auto;
}

.block-pricing-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 80px;
}

.block-pricing-box-free{
    flex: 0 0 480px;
    border: 2px solid #F3F4F5;
    border-radius: 10px;
    padding-left: 40px;
}

.block-pricing-box-title{
    padding-top: 70px;
    margin: 0;
}

.block-pricing-box-text{
    padding-top: 6.5px;
    padding-bottom: 30px;
    
}

.block-pricing-box-list{
    list-style: none;
    width: 290px;
    list-style-image: url("img/check.png");
    margin-left: -15px;
    padding-bottom: 30px;

}

.block-pricing-box-free .block-pricing-box-list:nth-last-child(-n + 2){
    list-style: none;
    width: 290px;
    list-style-image: url("img/close.png");

}

.block-pricing-box-link a{
    background-color: #FCF2E8;
    color: #EF9E48;
    border-radius: 5px;
    height: 50px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-decoration: none;
}

.block-pricing-box-link{
    padding-bottom: 50px;
}

.block-pricing-box-premium{
    border: 2px solid #3FDBB1;
    border-radius: 10px;
    padding-left: 40px;
    flex: 0 0 480px;
}



/* Block pricing end */

/* Site footer start */
.site-footer{
    background-color: #F9FAFC;
    padding-top: 45px;
    padding-bottom: 35px;
}

.site-footer-head{
    display: flex;
    gap: 55px;
}

.site-footer-links{
    flex: 0 1 190px;
}

.site-footer-title{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.site-footer-list{
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.site-footer-menu a,
.site-footer-list a{
    font-size: 14px;
    line-height: 250%;
    color: #0F2137;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
}

.site-footer-foot{
    margin-top: 50px;
    padding-top: 35px;
    border-top: 1px solid #D9E0E7;
    display: flex;
    align-items: center;
    gap: 10px;
}

.site-footer-copyright{
    font-size: 14px;
    margin: 0;
}

.site-footer-menu{
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 25px;
    margin-left: auto;
}

@media(max-width: 991px){
    .site-footer-head{
        flex-wrap: wrap;
    }
}

@media(max-width: 767px){
    .site-footer{
        padding-bottom: 80px;
    }
    .site-footer-head{
        flex-direction: column;
        gap: 50px;
    }
    .site-footer-links{
        flex: 0 1 100%;
    }
    .site-footer-foot{
        flex-direction: column;
        padding-top: 50px;
        gap: 50px;
    }
    .site-footer-menu{
        flex-direction: column;
        gap: 0;
        margin-left: 0;
        width: 100%;
        order: -1;
    }
}

/* Site footer end */